<main class="main">
  <div class="content">
    <h1>Angular 18 Test Consumer App</h1>
    <br />
    <br />
    <br />
    <br />
    <!-- Placing the badge above the button breaks styles -->
    <!-- <div>
      <modus-wc-badge content="modus badge" />
    </div> -->
    <div>
      <modus-wc-button label="modus button" [disabled]="false" />
    </div>
    <div>
      <modus-wc-badge content="modus badge" />
    </div>
    <div>
      <app-modus-text-input />
    </div>
    <div id="divider" style="width: 100%">
      <modus-wc-divider color="secondary" aria-label="primary divider" orientation="vertical" content="modus divider" />
    </div>
    <modus-wc-theme-provider>
      <modus-wc-theme-switcher aria-label="Toggle theme" custom-class="" />
    </modus-wc-theme-provider>
  </div>
</main>

<router-outlet />
